
.graph-container {
    display: flex;
    height: 100vh;
    margin-top: 60px;
    font-family: 'Inter', sans-serif;
}


.sidebar-graph {
    width: 400px; 
    min-width: 350px;

    padding: 25px;
    overflow-y: auto;
    border-right: 2px solid #333;
    display: flex;
    flex-direction: column;
}

body.dark-mode .graph-container {
    background-color: #121212;
    color: #ffffff;
}

body.light-mode .graph-container {
    background-color: #ffffff;
    color: #111;
}

body.dark-mode .sidebar-graph {
    background-color: #1E1E1E;
    border-right: 2px solid #333;
}

body.light-mode .sidebar-graph {
    background-color: #f9f9f9;
    border-right: 2px solid #ccc;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}


.input-group button {
    margin-left: 8px;
    padding: 7px;
    border-radius: 6px;
    border: none;

    cursor: pointer;
    font-size: 14px;
}


.add-button, .plot-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

body.dark-mode .add-button,
body.dark-mode .plot-button {
    background-color: #2c2c2c;
    color: white;
}

body.light-mode .add-button,
body.light-mode .plot-button {
    background-color: #f0f0f0;
    color: #111;
}
body.dark-mode .input-group input,
body.dark-mode .input-group .mq-editable-field,
body.dark-mode .axis-controls input {
    background-color: #333;
    color: #ffffff;
}

body.light-mode .input-group input,
body.light-mode .input-group .mq-editable-field,
body.light-mode .axis-controls input {
    background-color: #ffffff;
    color: #111111;
    border: 1px solid #ccc;
}

.plot-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

body {
    font-family: 'Inter', sans-serif;
}

.axis-controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.axis-controls label {
    font-size: 14px;
    margin-bottom: 5px;
}

.axis-controls input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    width: 100%;
    font-size: 14px;
}

.input-group .mq-editable-field {
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}


